html,
body {
  padding: 0; margin: 0.7; font-size: small;
  font-family:  BlinkMacSystemFont, sans-serif;
}

p{
  font-size:0.85rem;
}

a {color: inherit;text-decoration: none;}

* {box-sizing: border-box;}

h3 {color: coral;font-size: 1.3rem;}

.title {color: coral;border-style:solid;margin-inline: 0.5rem;}
.title :hover{color:honeydew;}

img {width: 230px; height: 200px; object-fit: cover;}




@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
